{% extends "layout/layout.html" %}

{% block body %}

<ul>
  <li>
      <a href="#/home">home</a>
  </li>
  <li>
      <a href="#/home">lorem</a>
  </li>
  <li>
      <a href="#/home">lorem/ipsum</a>
  </li>
</ul>

<!-- ko if: pokemonList -->
<ul class="list-unstyled pokedex" data-bind="foreach: pokemonList">
  <li class="pokedex-entry" data-bind="attr: { 'class' : 'pokedex-entry ' + $data.region }">
    <a data-bind="attr: { 'data-pokemon': $data.idDex, href: '#/pkmn/' + $data.idDex }" class="pokedex-entry__pkmn">
      <img data-bind="attr: { src: $data.sprite }" height="90" />
      <p>
        <span class="pkmn-idDex" data-bind="text: '#' + $data.idDex + ' '"></span>
        <span data-bind="text: $data.name" class="pkmn-name"></span>
      </p>
    </a>
  </li>
</ul>
<!-- /ko -->

<!-- ko if: pokemonDatas -->
<span data-bind="text: pokemonDatas().name"></span>
<!-- /ko -->
{% endblock %}